.shopbanner{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.shopcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.vertical-line-shop {
    border-left: 2px solid #F3AEC3;
    height: 180vh;
    margin-left: 50px;
}

.vertical-line1-shop {
    border-right: 2px solid #F3AEC3;
    height: 180vh;
    margin-right: 53px;
}
.main-contenier{
    display: flex;
   justify-content: space-around;
   gap: 2rem;
}
.card-conteiner{
    margin-top: 3rem;
    border: 1px solid #6b6b6b;
    height: 450px;
    width: 270px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(37, 37, 37, 0.19);
    transition: transform .2s;
}
.card-conteiner:hover{
    transform: scale(1.003);
}
.card-conteiner img {
    width: 250px;
    height: 250px;
    border-radius: 40px ;
    /* margin-top: 20px; */
   
}

.card-conteiner .cart {
    width: 150px;
    height: 40px;
    border: none;
    background-color: #F3AEC3;
    color: black;
    border-radius: 24px;
    margin-bottom: 12px;
    font-size: .75rem;
}
.card-conteiner .cart:hover {

    background-color: #f14d7e;
    color: rgb(255, 255, 255);
}

.model-erea{
    display: flex;
    justify-content: center;
}
.option{
    display: flex;
    justify-content: center;
    align-items: center;
} 
.wishlist{
    display: inline;
    background-color: #fff;
    /* border: 2px soild #b1073a; */
    border: none;
    margin-left: 20px;
    margin-bottom: 10px;
    border-radius: 50%;
    font-size: 1.8rem;
 
}
.wishlist:hover{
    font-size: 1.9rem;
    color:#f14d7e;
}