
nav {
    height:70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
  }
  
  ul {
    font-size: 1.2rem;
    padding-right: 220px;
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  li {
    margin: 0 10px;
  }
  a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color :#333;
    letter-spacing: 2px; 
    text-transform: uppercase;
    font-weight:500;
    transition: 0.5s;
  
  }
                                                                                      
  .logo {
    height: 250px;
    justify-content: left;
  }
  
  .cart-col .cart-links .links{
    height: 50px;
    width: 50px;
    background-color:  #F3AEC3;
    margin:0 10px 10px 0;

    text-align: center;
    line-height: 50px;
    border: none;
    border-radius: 50%;
    color: #FFF;
    transition: all 0.5s ease;
    font-size: 1.3rem;
  }
  .cart-col .cart-links .links:hover{
    font-size: larger;
    color: #FFF;
    background-color: #F3AEC3;
  }